.container {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flipbook {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

.page {
  background: #000;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-corner {
  display: none !important;
}
